<div class="field field--password">

	<label class="field__label" for="{{name}}">{{label}}</label>

	<div class="field__wrapper">
		<input type="password" oninput="{{action}}(this.name, this.value)" class="field__input validation"
			type="{{type}}" value="{{value}}" placeholder="{{placeholder}}" name="{{name}}">
		<span onclick="fieldPassword.toogle(this)" class="field__icon"></span>
	</div>

</div>