<div class="field field--password">

	<label class="field__label" for="{{name}}">{{label}}</label>

	<div class="field__wrapper">
		<input oninput="{{action}}(this.name, this.value)" class="field__input" type="{{type}}"
			placeholder="{{placeholder}}" name="{{name}}" type="password">
		<span onclick="fieldPassword.toogle(this)" class="field__icon" show></span>
	</div>

</div>